* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    background: #28293E;    
}

:root {
    font-size: 62.5%;
}

.page {
    max-width: 144rem ;
}


main {
    max-width: 40rem;

    padding: 0 2.5rem 12rem;

    display: grid;
    gap: 2.5rem;
    margin-inline: auto;
}

header p {
    margin-top: 10.5rem;
    font-size: 1.6rem;

    font-weight: 400;
    line-height: 3.2rem; 
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-inline: auto;
    width: fit-content;

    color: #BBB3E5;
}

header h1 {
    font-size: 40px;
   
    font-weight: 800;
    line-height: 48px;
    color: white;
    margin-inline: auto;
    margin-block: 1.7rem 8rem;
    width: fit-content;
}



.sub {
    width: 33rem;
    height: 41rem;
    margin: auto;
    background-image: url(https://raw.githubusercontent.com/juliossantos/grid/main/sofa.png);
    background-repeat: no-repeat;
    border-radius: .6rem;

}

.sub2 {
    width: 33rem;
    height: 41rem;
    margin: auto;
    background-image: url(https://raw.githubusercontent.com/juliossantos/grid/main/media.png);
    background-repeat: no-repeat;
    border-radius: .6rem;

}

.sub3 {
    width: 33rem;
    height: 41rem;
    margin: auto;
    background-image: url(https://github.com/juliossantos/grid/blob/main/key.png?raw=true);
    background-repeat: no-repeat;
    border-radius: .6rem;

}

.sub4 {
    width: 33rem;
    height: 41rem;
    margin: auto;
    background-image: url(https://github.com/juliossantos/grid/blob/main/Bitmap.png?raw=true);
    background-repeat: no-repeat;
    border-radius: .6rem;
    display: none;

}



.sub p, .sub2 p, .sub3 p, .sub4 p{   
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    margin-left: 3rem;
}

.sub span, .sub2 span, .sub3 span, .sub4 span {
    display: inline-block;
    margin-top: 25rem;
    margin-bottom: 2.3rem;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: .3rem 1.3rem;
    background-color: #fff;
    border-radius: 1.6rem;
    margin-left: 3rem;
}

@media (min-width:1024px) {
    main {
        grid-template-columns: 380px 260px 380px;
        grid-template-rows: repeat(2, 41rem);
        justify-content: center;
        

    }

    .sub {
        background-image: url(https://github.com/juliossantos/grid/blob/main/sofa2.png?raw=true);
        grid-column: 1/2;
        width: 100%;
    }

    .sub2{
        background-image: url(	https://github.com/juliossantos/grid/blob/main/kay2.png?raw=true);
        grid-column: 2/4;
        width: 100%;
    }

    .sub3 {
        background-image: url(https://github.com/juliossantos/grid/blob/main/media2.png?raw=true);
        grid-column: 1/3;
        width: 100%;
    }

    .sub4{
        background-image: url(https://github.com/juliossantos/grid/blob/main/Bitmap.png?raw=true);
        grid-column: 3/4;
        width: 100%;
        display: block;
    }

    .page {
        margin: auto;
    }
    
}
